<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELADERIA</title>
    <style>
         /* Centrar el contenido */
         body {
            text-align: center;
            font-family: Arial, sans-serif;
        }

    </style>
</head>
<body>
    <h1 style="text-align: center;">Bienvenido a la heladeria de German !!</h1>
    <h4 style="text-align: center;">fea pero de buen sabor</h4>
    <a href="/login" style="text-align: center;"><button><h2>Login</h2></button></a>
    <h1></h1>
    <a href="/api/producto/lista" style="text-align: center;"><button><h2 style="text-align: center;">Lista Productos</h2></button></a>


  
</body>
</html>